/* Universal Selector */
* {
  font-family: Georgia, serif;
  box-sizing: border-box;
}
/* Header selector */
header {
  display: flex;
  color: rgb(17, 227, 235);
  background-color: rgb(14, 90, 153);
  text-align: center;
  width: 100%;
  position: relative;
  padding: 0.3em;
}

header h1 {
  font-size: 3em;
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
  background-color:rgb(14, 90, 153);
  border: 10px solid rgb(128, 127, 127);
}

header nav {
  justify-content: flex-end;
  position: absolute; 
  right: 0;
  top: 40px;
  border: 5px double rgb(128, 127, 127);
  padding: 0.3em;
}


header nav li {
  display: inline-flex;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 20px;
}

li a {
  color: white;
  text-decoration: underline;
}
/* Banner */
.pixels {
  display: flex;
  height: 90px;
  width: 100%;
  background-image: url("../images/pixels.jpg");
  background-size: cover;
  background-position: center;
}

.sub {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  padding-right: 25px;
  position: absolute;
  top: 160px;
  color: white;
  font-size: 1.2em;
  background-color: transparent;
}
/* Main */
main {
  background-color: rgb(14, 90, 153);
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 7px double rgb(128, 127, 127);
}

.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 40px;
  justify-content: space-between;
  color: white;
}

.section-h2 {
  color: rgb(17, 227, 235);
  display: flex;
  justify-content: center;
  width: 200px;
  font-size: 2em;
  font-weight: bold;
  padding: 2em;
  border-right: 5px solid rgb(128, 127, 127);
}


/*About Me */

#about-me article {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  margin: 0 150px 0 150px;
}
/* Work */

#work + div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#work a {
  color: white;
  text-decoration: underline;
  margin: 10px;
  width: 40%;
  height: 40%;
}

#work img {
  width: 100%;
  height: 300px;
  border: 5px solid rgb(255, 255, 255);
  padding: 3px;
}

#work1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

#work1 #image1{
  display: flex;
  width: 100%;
  height: 500px;
  margin: 30px;
}

#image1 img {
  width: 100%;
  height: 100%;
}

#work-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
/* Contact Me */
#contact-me {
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 24px;
}

ul li {
  display: inline-flex;
  padding: 0.5em;
  margin: 1em;
}

